@model AssetMgmt.Models.AssetManagement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssetManagement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
