@model PagedList.IPagedList<AssetMgmt.Models.Designation>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Designations";
}

<h2>Designations</h2>

<p>
    @Html.ActionLink("Add New Designation", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Designation Name","Index", new { sortOrder=ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
            <td>

                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
